
# Importing Libraries

# Que1:-
### A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [2]:
# Load the data set
cutlets=pd.read_csv('Cutlets_Assignmrnt_3.csv')
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
cutlets.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [39]:
UnitA=pd.Series(cutlets.iloc[:,0])
UnitA.head(5)

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [5]:
type(UnitA)

pandas.core.series.Series

In [40]:
UnitB=pd.Series(cutlets.iloc[:,1])
UnitB.head(5)

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [7]:
# 2 sample 2 tail ttest:
p_value=stats.ttest_ind(UnitA,UnitB)
print("p_value=",p_value)

p_value= Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [8]:
p_val=p_value[1]

In [9]:
# Hypothesis Testing
alpha=0.05
print("alpha:-",alpha)
if p_val<=alpha:
    print('We reject Null Hypothesis there is difference between significance value of UnitA and UnitB')
else:
    print('we fail to reject Null hypothesis')

alpha:- 0.05
we fail to reject Null hypothesis

# Ques2:-
###   A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
### Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [10]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [41]:
LabTAT=pd.read_csv('LabTAT_Assignment_3.csv')
LabTAT.head(3)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18

In [42]:
Lab_1=pd.Series(LabTAT.iloc[:,0])
Lab_1.head(3)

0    185.35
1    170.49
2    192.77
Name: Laboratory 1, dtype: float64

In [43]:
Lab_2=pd.Series(LabTAT.iloc[:,1])
Lab_2.head(3)

0    165.53
1    185.91
2    194.92
Name: Laboratory 2, dtype: float64

In [44]:
Lab_3= pd.Series(LabTAT.iloc[:,2])
Lab_3.head(3)

0    176.70
1    198.45
2    201.23
Name: Laboratory 3, dtype: float64

In [45]:
Lab_4= pd.Series(LabTAT.iloc[:,3])
Lab_4.head(3)

0    166.13
1    160.79
2    185.18
Name: Laboratory 4, dtype: float64

In [16]:
p_value_2= stats.f_oneway(Lab_1,Lab_2,Lab_3,Lab_4)
print("p_value:-",p_value_2)

p_value:- F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [17]:
p_val_2=p_value_2[1]
p_val_2

2.1156708949992414e-57

In [18]:
alpha_1=0.05
print("alpha:-",alpha_1)
if p_val_2<=alpha_1:
    print('We reject Null Hypothesis there is difference between TAT of reports of the laboratories')
else:
    print('we fail to reject Null hypothesis')

alpha:- 0.05
We reject Null Hypothesis there is difference between TAT of reports of the laboratories

# Ques3:-

### Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [19]:
Buyer=pd.read_csv('BuyerRatio_Assigment_3.csv')
Buyer.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

#### Using Chi-Square contingency table to convert observed value into expected value

In [20]:
Buyer_table=Buyer.iloc[:,1:5]
Buyer_table
type(Buyer_table)

pandas.core.frame.DataFrame

In [21]:
value=stats.chi2_contingency(Buyer_table)
value

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [22]:
No_of_row=len(Buyer_table.iloc[0:2,0])
No_of_columns=len(Buyer_table.iloc[0,0:5])
degree_of_freedom=(No_of_row-1)*(No_of_columns-1)
print("Degree of freedom:-",degree_of_freedom)

Degree of freedom:- 3

In [23]:
Expected_value=value[3]
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [24]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2/e for o,e in zip(Buyer_table.values,Expected_value)])
chi_square_Stat=chi_square[0]+chi_square[1]
chi_square_Stat

1.5152956451130446

In [25]:
p_value_3=1-chi2.cdf(chi_square_Stat,3)
p_value_3

0.6787446296467897

In [26]:
alpha=0.05
if p_value_3 <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

Independent (fail to reject H0)

# Ques4:-
### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [27]:
import pandas as pd
from scipy import stats as stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [28]:
# Load dataset
customer=pd.read_csv("Customer+OrderForm_Assignment_3.csv")
customer.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [29]:
for i in customer:
    
    print(customer[i].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [30]:
# Creating Contingency table
contingency_table=pd.DataFrame([[271,267,269,280],[29,33,31,20]])
print(contingency_table)

     0    1    2    3
0  271  267  269  280
1   29   33   31   20

In [31]:
stat, p, dof, expected = chi2_contingency(contingency_table)

In [32]:
stat

3.858960685820355

In [33]:
p

0.2771020991233135

In [34]:
dof

3

In [35]:
expected

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [36]:
observed = np.array([271, 267, 269, 280, 29, 33, 31, 20])
expected = np.array([271.75, 271.75, 271.75, 271.75, 28.25, 28.25, 28.25, 28.25])

In [49]:
test_statistic , p_value = stats.chisquare(observed, expected, dof )
print("Test Statistic = ",test_statistic,'\n', 'p_value =',p_value)

Test Statistic =  3.858960685820355
 p_value = 0.4254298144535761

In [50]:
alpha = 0.05
print('Significnace=%.3f, p=%.3f' % (alpha, p_value))
if p_value <= alpha:
    print('We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories')
else:
    print('We fail to reject Null hypothesis')

Significnace=0.050, p=0.425
We fail to reject Null hypothesis